---
import type { PublicTagDetail } from '~/lib/publicApi'
import MetaChip from '~/components/MetaChip.astro'

interface Props {
  tags: PublicTagDetail[]
}

const { tags } = Astro.props
---

<div class="flex flex-wrap gap-3 text-sm">
  {
    tags.map((tag) => (
      <MetaChip variant="tag" href={`/tags/${encodeURIComponent(tag.slug)}`}>
        {tag.name}
      </MetaChip>
    ))
  }
</div>
