---
import Layout from '~/layouts/Layout.astro'
import PostPreview from '~/components/PostPreview.astro'
import Pagination from '~/components/Pagination.astro'
import BlockHeader from '~/components/BlockHeader.astro'
import HomeBanner from '~/components/HomeBanner.astro'
import siteConfig from '~/site.config'
import TagsSection from '~/components/TagsSection.astro'
import CategoriesSection from '~/components/CategoriesSection.astro'
import { listPublicArticles, listPublicCategories, listPublicTags } from '~/lib/publicApi'
import { DEFAULT_PAGE_SIZE, normalizePageSize } from '~/lib/config'

export const prerender = false

const homePageSize = normalizePageSize(siteConfig.homePageSize, DEFAULT_PAGE_SIZE)

const [articles, categories, tags] = await Promise.all([
  listPublicArticles({ page: 1, pageSize: homePageSize }),
  listPublicCategories({ page: 1, pageSize: 200 }),
  listPublicTags({ page: 1, pageSize: 200 }),
])
---

<Layout>
  <HomeBanner />
  {
    articles.items.length > 0 && (
      <section>
        <BlockHeader>Latest Posts</BlockHeader>
        {articles.items.map((article) => (
          <PostPreview article={article} />
        ))}
        <Pagination nextLink="/posts" nextText="Archive" />
      </section>
    )
  }
  {
    categories.items.length > 0 && (
      <section>
        <BlockHeader>Categories</BlockHeader>
        <CategoriesSection categories={categories.items} />
      </section>
    )
  }
  {
    tags.items.length > 0 && (
      <section>
        <BlockHeader>Tags</BlockHeader>
        <TagsSection tags={tags.items} />
      </section>
    )
  }
</Layout>

<style is:global>
  a.heading-anchor {
    display: none !important;
  }
</style>
